* {
    box-sizing: border-box;
}

:root {
    --clr-accent: #ff84a2;
    --clr-light: #fff;
    --clr-dark: #444;
    --clr-dark-gray: #777;
    --clr-black: #000;
    --clr-gray: #ddd;
    --clr-light-gray: #f1f1f1;

    --accent-rgba: 255, 132, 162;


    --ff: 'Roboto';
    --ff-title: 'Roboto Condensed';

    --fs-small: .8rem;
    --fs-normal: 1rem;
    --fs-big: 1.4rem;

    --transition: all 250ms ease-in-out;
}


body {
    margin: 0;
    font: var(--fs-normal)/1.6 var(--ff);
    color: var(--clr-dark);
    display: grid;
    grid-template-columns: max-content 1fr;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    transition: var(--transition);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2 {
    font-family: var(--ff-title);
    font-weight: normal;
}


*::selection {
    background: var(--clr-accent);
    color: var(--clr-black);
}

::-webkit-scrollbar {
    width: 7px;

}

::-webkit-scrollbar-thumb {
    background: var(--clr-gray);
}

/* sidebar */

.sidebar {

    /* background: var(--clr-light); */
    padding: 1rem;
    min-width: 4rem;
    height: 100%;
    display: flex;
    border-right: 1px solid var(--clr-gray);


}

.sidebar-all {
    position: fixed;

}

.menu {
    line-height: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;



}


.menu svg {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    fill: var(--clr-accent);
    transition: var(--transition);
    cursor: pointer;

}

.menu svg:hover {
    fill: var(--clr-dark);
}

.menu span {
    display: none;
}


/* header */
.header {
    width: 100%;
}

.header-inner {
    padding: 1rem;
}

.header-pic {
    width: 100%;
    height: 200px;
    background: url(https://i.imgur.com/fvBLoTb.jpg) center / cover;

}

.icon-follow {
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.icon {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    background: url(https://i.imgur.com/efSoAWt.gif)center / cover;
    border-radius: 100%;
    border: 3px solid var(--clr-light);
    margin-top: -60px;
}



.follow a {
    color: var(--clr-accent);
    border: 2px solid currentColor;
    padding: .7rem 2rem;
    border-radius: 50vw;


}

.follow a:hover {
    background: var(--clr-accent);
    color: var(--clr-light);
}

.title {
    font-weight: bold;
    font-family: var(--ff-title);
    font-size: var(--fs-big);

}

.user {
    color: var(--clr-dark-gray);
    font-size: var(--fs-small);
    margin-top: -.4rem;
}

.description {
    margin-top: 1rem;
}

/* navigation */
.navigation {
    background: var(--clr-light);
    border-bottom: 1px solid var(--clr-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navigation a {
    color: var(--clr-dark-gray);
    font-family: var(--ff-title);
    font-weight: bold;
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 1rem .5rem;
    place-items: center;
    text-align: center;
}

.navigation a:hover {
    color: var(--clr-accent);
    background: rgba(var(--accent-rgba), .2);

}

/* posts */


.post-icon img {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    object-fit: cover;

}

.post {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 1rem;
    grid-gap: 1rem;
    border-bottom: 1px solid var(--clr-gray);
    transition: var(--transition);
}

.post:hover {
    background: var(--clr-light-gray);
}

.post-body {
    grid-column: 2;

}


.post-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 0;
    gap: .5rem;
    margin-bottom: .4rem;

}

.post-name {
    font-weight: bold;
    font-family: var(--ff-title);

}

.post-name span,
.post-date {
    font-weight: normal;
    font-family: var(--ff);
    font-size: var(--fs-small);
}

.post-permalink {
    margin-left: auto;
}

.post-permalink svg {
    height: 1.5rem;
    fill: var(--clr-dark-gray);

}

.post-buttons {
    display: flex;
    position: relative;

}

.post-buttons svg {
    height: 1.5rem;
    fill: var(--clr-dark-gray);
}

.tag-icon {
    margin-left: auto;
    cursor: pointer;
}

.tags-index {

    position: absolute;
    width: 40%;
    background: var(--clr-light);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 1rem;
    right: 2rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    bottom: 0;

    display: none;
}

.tags-index a {
    color: var(--clr-dark);
    font-size: var(--fs-small);
    padding: .2rem .4rem;

}

.tags-index a:hover {
    background: var(--clr-light-gray);

}

.show-tag-box {
    display: flex;
    width: 100%;
}

.to-left,
.to-right {
    transition: all 1s cubic-bezier(1, 0.01, 0.46, 1.45);
    opacity: 0;
}

.to-left {
    transform: translateX(-4rem);
}

.to-right {
    transform: translateX(4rem);

}

.buttons-animation .to-left,
.buttons-animation .to-right {
    transform: translateX(0);
    opacity: 1;
}

/* like and reblog */

.controls {
    display: flex;
    gap: 1rem;
}

.controls .like .liked+svg {
    opacity: 1;
}

.controls .like .liked+svg path {
    fill: red;
}

.controls .like .like_button {
    position: relative;
}

.controls .like .like_button iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
}

/* pagination */
.pagination {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination a {
    color: var(--clr-dark);
}

.pagination a:hover {
    color: var(--clr-accent);

}

a.current_page {
    background: rgba(var(--accent-rgba), .4);
    padding: .1rem .6rem;
    cursor: pointer;
}

a.current_page:hover {
    color: var(--clr-accent);
}


/* show tag list on click */

.show-tag-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    background: white;
    width: 100%;
    overflow: scroll;
    z-index: 4;
    display: none;


}

.show-tags {
    display: flex;
}

.show-tag-list a {
    color: var(--clr-dark);
    border-bottom: 1px solid var(--clr-accent);
    font-size: var(--fs-small);

}

.show-tag-list a:hover {
    color: var(--clr-accent);
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
    height: 90vh;
    overflow: scroll;
    position: relative;

}

.tag-list a::before {
    content: '# ';
}

.tag-list p {
    margin: 0;
}

.btn-close-tag-list,
.btn-close-search {
    padding: .4rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: fixed;
    right: 1rem;
}

.btn-close-tag-list svg,
.btn-close-search svg {
    height: 1.3rem;
    fill: var(--clr-accent);


}

.show-search-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: white;
    position: fixed;
    z-index: 4;
    display: none;

}

.show-search {
    display: flex;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.search-box h1 {
    text-align: center;
}

.search-form {
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 100%;
    border: 1px solid var(--clr-accent);

}

.search-form input {
    padding: 1.5rem;
    border: 0;
    font-family: var(--ff-title);
    font-size: inherit;

}

.search-form input:focus {
    outline: 1px solid var(--clr-accent);
}

.search-button {
    border: 0;
    padding: .4rem;
    width: 4rem;
    cursor: pointer;
    border-left: 1px solid var(--clr-accent);
    background: rgba(var(--accent-rgba), .4);
    transition: var(--transition);
}

.search-button svg {
    height: 1.5rem;
    fill: white;
}

.search-button:hover {
    background: var(--clr-accent);
}

.slide-body {
    transform: translateY(100%);
}